#posts {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#1d1b2b;
    border-radius: 10px;
    outline: solid 5px #232137;
    font-size: 15px;
}

.post > h3 {
    margin-bottom: 0px;
    color: #9b9bcd;
}

#logout {
    margin-left: auto;
    margin-right: 20px;
}